@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis/Dosis-Light.eot');
  src: url('../fonts/Dosis/Dosis-Light.woff2') format('woff2'),
       url('../fonts/Dosis/Dosis-Light.woff') format('woff'),
       url('../fonts/Dosis/Dosis-Light.ttf') format('truetype'),
       url('../fonts/Dosis/Dosis-Light.svg#Dosis-Light') format('svg'),
       url('../fonts/Dosis/Dosis-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//commentaire pour fair passer le comit

body{
	font-family: 'Dosis';
	font-size: 20px;
}

#authorize-button,#signout-button {
	display: none;
}

#logo{
	width: 500px;
	height: 80px;
}

#caddy{
	float: right;
    padding-top : 20px;
}

nav.nav-extended{
	position: fixed;
	z-index: 9000;
	background-color: #D3D3D3;
}

li{
	margin-right: 15px;
	font-family: 'Dosis';
	font-size: 20px;
}
div.carousel{
	
	width: 100%;
}

main{
	padding-top: 70px;
}
.card{
	width: 80%;
	margin: 30px;
}
#aff{
	display: inline-flex;
}
.card .card-image img {
	width: 300px;
}
.carousel .carousel-item{
	width: 30%;
}
.carousel{
	height: 500px;
}
.btn{
	width: 100%;
}
.promo{
	text-decoration: line-through;
}
.group{
	display: flex;
}
.card .card-title .name{
	font-size: 20px;
}
.free{
	color: blue;
}

@media handheld {
	#authorize-button,#signout-button {
	display: none;
}

#logo{
	width: 500px;
	height: 80px;
}

nav.nav-extended{
	position: fixed;
	z-index: 9000;
	background-color: #D3D3D3;
}

li{
	margin-right: 15px;
	font-family: 'Dosis';
	font-size: 20px;
}
div.carousel{
	
	width: 100%;
}
.carousel{
	height: 500px;
}

main{
	padding-top: 70px;
}
.card{
	width: 80%;
	margin: 30px;
}
#aff{
	display: inline-flex;
}
.card .card-image img {
	width: 300px;
}
.carousel .carousel-item{
	width: 30%;
}
.btn{
	width: 100%;
}
.promo{
	text-decoration: line-through;
}
.group{
	display: flex;
}
}