#authorize-button,#signout-button {
    display: none;
}
.carousel1{
	width: 30%;
}

#logo{
	width: 500px;
	height: 80px;
}

nav.nav-extended{
	background-color : #808080;
}
ul.grow {
	position: relative;
	width: 230px;
	height: 480px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}
	ul.grow li {
		position: relative;
		padding: 16px;
		background: #eee;
		color: #252525;
		font-size: 18px;
		z-index: 2;

		-webkit-transform: translateZ(0px);
		   -moz-transform: translateZ(0px);
		    -ms-transform: translateZ(0px);
		     -o-transform: translateZ(0px);
		        transform: translateZ(0px);
	}
	ul.grow li:nth-child(odd) {
		background: #fff;
	}
.img{
	width: 300px;
	height: 300px;
}

ul#sous_cat{
		word-spacing: 10px;
		background-color: #CD853F;
		width: 100%;
    }


    li{
    	margin-right: 15px;
    	font-family: 'Dosis';
    	font-size: 20px;
    }


    #surgeles{
    	padding-left: 15px;
    }

